<header>
  <h1>Colour Diary</h1>
</header>

  <h1>Welcome {{name}}</h1>
    <li>
      <a href='/user' title='index page to choose colour'>
	<img src='https://avatars2.githubusercontent.com/u/33887459?s=460&v=4'{{photo}} alt='profilepic'>
      </a>
    </li>
    
<footer>
  Colour Diary
</footer>