<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
</head>

<header>
  <h1>Colour Diary</h1>
</header>
<body>
    
      <a href='/user' title='index page to choose colour'>
	<img class= "img-circle"src='/selfie.jpeg'{{photo}} alt='profilepic'>
      </a>
      <h2>Welcome Ruth! {{name}}</h2>
    <p>"How are you feeling today?"</p>

    <ul>
      <li>
        Sad
      </li>
      <li>
        Happy
      </li>
      <li>
        Angry
      </li>
      <li>
        Challenged
      </li>
       
    </ul>


    <div class="content" id="boxed"></div>
    <div class="content" id="boxed1"></div>
    <div class="content" id="boxed2"></div>
    <div class="content" id="boxed3"></div>
    <div class="content" id="boxed4"></div>

    <div class="content" id="boxed5"></div>
    <div class="content" id="boxed6"></div>
    <div class="content" id="boxed7"></div>
    <div class="content" id="boxed8"></div>
    <div class="content" id="boxed9"></div>

    <div class="content" id="boxed10"></div>
    <div class="content" id="boxed11"></div>
    <div class="content" id="boxed12"></div>
    <div class="content" id="boxed13"></div>
    <div class="content" id="boxed14"></div>

    <div class="content" id="boxed15"></div>
    <div class="content" id="boxed16"></div>
    <div class="content" id="boxed17"></div>
    <div class="content" id="boxed18"></div>
    <div class="content" id="boxed19"></div>


    <button class="button1">Kind of</button>
    <button class="button12">yes I am</button>
    <button class="button13">YES</button>
    <button class="button14">YES!!!</button>
    <button class="button15">Don't ask</button>
 

    <button class="button2">Kind of</button>
    <button class="button22">yes I am</button>
    <button class="button23">YES</button>
    <button class="button24">YES!!!</button>
    <button class="button25">Don't ask</button>

    <button class="button3">Kind of</button>
    <button class="button32">yes I am</button>
    <button class="button33">YES</button>
    <button class="button34">YES!!!</button>
    <button class="button35">Don't ask</button>

    <button class="button4">Kind of</button>
    <button class="button42">yes I am</button>
    <button class="button43">YES</button>
    <button class="button44">YES!!!</button>
    <button class="button45">Don't ask</button>
    

    </div>
    </body>
<footer>
  Colour Diary
</footer>