<head>
<link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed" rel="stylesheet"> 
</head>

<header>
  <h1>Colour Diary</h1>
</header>
<body>
    
      <a href='/user' title='index page to choose colour'>
	<img class= "img-circle"src='/selfie.jpeg'{{photo}} alt='profilepic'>
      </a>
      <h2>Welcome Ruth! {{name}}</h2>
    <p>"How are you feeling today?"</p>

    <ul>
      <li>
        Sad
      </li>
      <li>
        Happy
      </li>
      <li>
        Angry
      </li>
      <li>
        Challenged
      </li>
       
    </ul>

  <div class="row">
    <button class="button button1">Kind of</button>
    <button class="button button12">yes I am</button>
    <button class="button button13">YES</button>
    <button class="button button14">yes really</button>
    <button class="button button15">Don't ask</button>
  </div>
  <div class="row">
    <button class="button button2">Kind of</button>
    <button class="button button22">yes I am</button>
    <button class="button button23">YES</button>
    <button class="button button24">yes really</button>
    <button class="button button25">Don't ask</button>
  </div>
<div class="row">
    <button class="button button3">Kind of</button>
    <button class="button button32">yes I am</button>
    <button class="button button33">YES</button>
    <button class="button button34">yes really</button>
    <button class="button button35">Don't ask</button>
</div>
<div class="row">
    <button class="button button4">Kind of</button>
    <button class="button button42">yes I am</button>
    <button class="button button43">YES</button>
    <button class="button button44">yes really</button>
    <button class="button button45">Don't ask</button>
    </div>

    </div>
    </body>
<footer>
  Colour Diary
</footer>