body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
  }

  header{
    margin-top: 70px;
  }

  h1,h2{
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px #9c9c9c;
  }

  p{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(116, 116, 116);
  }

  li{
    list-style: none;
    text-align: left;
    position: center;
    color: rgb(116, 116, 116);
    margin-top:3%;
    margin-left: 33%;
  }

  

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    color: rgb(116, 116, 116);
  }



  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2%;
    width: 160px;
    height: 160px;
  }




  .row {
    width:80%;
  }

  .button{
    height:40px;
    width:40px;
    color: white;
    font-size: 65%;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    vertical-align: top;
    text-shadow: 1px 1px #9c9c9c;
  }

  .button:hover {
    opacity: 0.5;
    color: white;
    }


  .button1{
  background-color: rgb(169, 224, 255);
  }
  .button12{
  background-color: rgb(91, 195, 255);
  }
  .button13{
  background-color: rgb(0, 162, 255);
  }
  .button14{
  background-color: rgb(0, 98, 155);
  }
  .button15{
  background-color: rgb(0, 40, 63);
  }



  .button2{
  background-color: rgb(254, 255, 177);
  }
  .button22{
  background-color: rgb(253, 255, 107);
  }
  .button23{
  background-color: rgb(251, 255, 0);
  }
  .button24{
  background-color: rgb(255, 230, 0);
  }
  .button25{
  background-color: rgb(255, 187, 0);
  }



  .button3{
  background-color: rgb(255, 190, 190);
  }

  .button32{
  background-color: rgb(255, 115, 115);
  }
  .button33{
  background-color: rgb(255, 0, 0);
  }
  .button34{
  background-color: rgb(148, 0, 0);
  }
  .button35{
  background-color: rgb(97, 0, 0);
  }


  .button4{
  background-color: rgb(200, 255, 179);
  }
  .button42{
  background-color: rgb(131, 255, 82);
  }
  .button43{
  background-color: rgb(72, 255, 0);
  }
  .button44{
  background-color: rgb(41, 146, 0);
  }
  .button45{
  background-color: rgb(25, 88, 0);
  }

