body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
  }

  header{
    margin-top: 70px;
  }

  h1,h2{
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 1px 1px #9c9c9c;
  }

  p{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(116, 116, 116);

  }

  li{
    list-style: none;
    text-align: left;
    position: center;
    color: rgb(116, 116, 116);
    margin-top:3%;
    margin-left: 33%;
    /* display:inline-block;
    width: 25%; */
  }

  

  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    color: rgb(116, 116, 116);
  }



  .img-circle {
    border-radius: 50%;
    object-fit: cover;
    margin-top: 2%;
    width: 160px;
    height: 160px;
  }
/* 
  div.content{
    height: 30px;
    width: 30px;
    float: left;
    margin: 10px;
  }

  div#boxed {
    background-color: rgb(199, 255, 182);
    
  }
  div#boxed1 {
    background-color: rgb(21, 255, 0);
    
  }
  div#boxed2 {
    background-color: rgb(0, 189, 0);
    
  }
  div#boxed3 {
    background-color: rgb(0, 83, 0);
    
  }
  div#boxed4 {
    background-color: rgb(0, 58, 0);
    
  }
  div#boxed5 {
    background-color: rgb(182, 232, 255);
    
  }
  div#boxed6 {
    background-color: rgb(83, 201, 255);
    
  }
  div#boxed7 {
    background-color: rgb(0, 174, 255);
    
  }
  div#boxed8 {
    background-color: rgb(0, 103, 151);
    
  }
  div#boxed9 {
    background-color: rgb(0, 51, 75);
    
  }
  div#boxed10 {
    background-color: rgb(255, 246, 197);
    
  }
  div#boxed11 {
    background-color: rgb(255, 236, 125);
    
  }
  div#boxed12 {
    background-color: rgb(255, 217, 1);
    
  }
  div#boxed13 {
    background-color: rgb(255, 196, 0);
    
  }
  div#boxed14 {
    background-color: rgb(255, 174, 0);
    
  }
  div#boxed15 {
    background-color: rgb(255, 197, 197);
    
  }
  div#boxed16 {
    background-color: rgb(255, 125, 125);
    
  }
  div#boxed17 {
    background-color: rgb(255, 1, 1);
    
  }
  div#boxed18 {
    background-color: rgb(187, 0, 0);
    
  }
  div#boxed19 {
    background-color: rgb(107, 0, 0);
    
  } */




  .row {
    width:80%;
  }

  .button{
    height:40px;
    width:40px;
    color: white;
    font-size: 65%;
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
    vertical-align: top;
    text-shadow: 1px 1px #9c9c9c;
  }

  .button:hover {
    opacity: 0.5;
    color: white;
    }


  .button1{
  background-color: rgb(169, 224, 255);
  }
  .button12{
  background-color: rgb(91, 195, 255);
  }
  .button13{
  background-color: rgb(0, 162, 255);
  }
  .button14{
  background-color: rgb(0, 98, 155);
  }
  .button15{
  background-color: rgb(0, 40, 63);
  }



  .button2{
  background-color: rgb(254, 255, 177);
  }
  .button22{
  background-color: rgb(253, 255, 107);
  }
  .button23{
  background-color: rgb(251, 255, 0);
  }
  .button24{
  background-color: rgb(255, 230, 0);
  }
  .button25{
  background-color: rgb(255, 187, 0);
  }



  .button3{
  background-color: rgb(255, 190, 190);
  }

  .button32{
  background-color: rgb(255, 115, 115);
  }
  .button33{
  background-color: rgb(255, 0, 0);
  }
  .button34{
  background-color: rgb(148, 0, 0);
  }
  .button35{
  background-color: rgb(97, 0, 0);
  }


  .button4{
  background-color: rgb(200, 255, 179);
  }
  .button42{
  background-color: rgb(131, 255, 82);
  }
  .button43{
  background-color: rgb(72, 255, 0);
  }
  .button44{
  background-color: rgb(41, 146, 0);
  }
  .button45{
  background-color: rgb(25, 88, 0);
  }

